/* general styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background-image: url("../images/GreyMarble.jpg");
}

* {
    box-sizing: border-box;
}

.container {
    /* use width:100% and max-width: 960px to indicate that you want it to span the entire length of the webpage and but when the webpage is longer than 960px, then set that as the limit */
    width: 100%;
    max-width: 960px;
    margin: 0 auto; 
    clear: both; 
}

.content-container {
    background: white;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: 700; 
    color: #4aaaa5;
}

h2, h3 {
    font-size: 22px; 
}




/* header styling */
.header-container {
    width: 100%;
    margin: 0 auto; 
    clear: both; 
}

#nav-right {
    color: #ffffff;
    background: #4aaaa5; 
    border-bottom: none; 
}

#nav-left {
    color: grey;
    background: white; 
    border-bottom: none; 
}

.nav-link {
    color: white;
}

#nav-link-left {
    color: grey;
    border-left: solid #efefef;
}



/* porfolio styling */
.project-list {
    list-style: none;
    background-color: white;
}

.project {
    margin: 20px;
    display: inline-block;
    float: left;
}

.project-wrapper {
    position: relative; 
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

.text-wrapper h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;   
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}


/* contact styling */
#contact-content-container {
    background: white;
    padding: 20px;
}


/* footer styling */
footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
}